table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
    font-family: 'FontAwesome';
}

table.dataTable thead .sorting:after {
    content: '\f0dc';
}

table.dataTable thead .sorting_asc:after {
    content: '\f0dd';
}

table.dataTable thead .sorting_desc:after {
    content: '\f0de';
}

select.input-sm {
    line-height: unset;
}
    