.register-success {
  height: 40vh;
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.register-success .success-content i {
  font-size: 30px;
  margin-bottom: 20px;
  color: #0167f3;
  height: 80px;
  width: 80px;
  line-height: 80px;
  text-align: center;
  display: inline-block;
  border: 1px solid #eee;
  border-radius: 50%;
}
.register-success .success-content h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #081828;
}

.error-area-404 {
  height: 40vh;
  text-align: center;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  position: relative;
  background-image: url(../images/error/404-bg.png);
  background-repeat: no-repeat;
  background-position: center;
}

.list {
}

.remove-item {
  color: #fff;
  background-color: #f44336;
  font-size: 12px;
  height: 25px;
  width: 25px;
  line-height: 25px;
  border-radius: 50%;
  text-align: center;
  margin-right: 5px;
}

.remove-item:hover {
  color: #fff;
  background-color: #081828;
}

.view-item {
  color: #fff;
  background-color: #337ab7;
  font-size: 12px;
  height: 25px;
  width: 25px;
  line-height: 25px;
  border-radius: 50%;
  text-align: center;
  margin-right: 4px;
}

.view-item:hover {
  color: #fff;
  background-color: #081828;
}

.edit-item {
  color: #fff;
  background-color: #15d004;
  font-size: 12px;
  height: 25px;
  width: 25px;
  line-height: 25px;
  border-radius: 50%;
  text-align: center;
  margin-right: 4px;
}

.edit-item:hover {
  color: #fff;
  background-color: #081828;
}

.add-item {
  color: #fff;
  background-color: #034ad7;
  font-size: 12px;
  height: 30px;
  width: 80px;
  line-height: 30px;
  border: 1px solid #034ad7;
  text-align: center;
}

.add-item:hover {
  color: #fff;
  background-color: #081828;
}

.modal-search .modal-content {
  justify-content: center;
  width: 90vw;
  height: 90vh;
  top: 5vh;
  left: 5vw;
}

.required {
  color: #f44336;
}

/* .emailUpdateCheck, .passwordUpdateCheck, .currentPasswordUpdateCheck {
  display: none;
} */

.addressDefault {
  display: none;
}

/* Them */
.input-sm {
  padding: 0 10px !important;
  text-align: center;
}

label {
  display: inline-block;
  color: #000;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.form-group {
  margin-bottom: 15px;
}

.error-feedback {
  color: red;
}


table.dataTable thead > tr > th {
  width: 200px !important;
}

table.dataTable thead > tr > th:last-child {
  width: 230px !important;
}


/* product */
.product-list .single-product {
  position: relative;
  padding: 0;
  min-height: unset;
  height: 648px;
}
.single-product .image-product {
  position: relative;
  overflow: hidden;
}

.single-product .image-product .front-image {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 135%;
}

.single-product .image-product .overlay-product .image {
  width: 100%;
  height: 100%;
  object-fit: cover
}

.single-product .image-product .overlay-product {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.5s ease;
}

.single-product .image-product .favorite-product {
  position: absolute;
  top: 0;
  right: 0;
}

.single-product .image-product .favorite-product {
  position: absolute;
  top: 10px;
  right: 10px;
}

.single-product .image-product .favorite-product svg {
  overflow: visible;
}

.single-product .image-product .favorite-product .favorite-remove {
  display: none;
}

.single-product:hover .overlay-product {
  opacity: 1;
}

.single-product .card-title {
  margin-bottom: 0;
}

.single-product .card-text {
  font-size: 18inner-sub-categorypx;
  color: #626262;
}


.detail .detail-image .mySlides img {
  width: 100%;
}

.detail .detail-image img {
  cursor: pointer;
}

.detail .detail-image .left-image {
  width: 130px;
  margin-bottom: 15px;
}

/* Add a transparency effect for thumnbail images */
.detail .detail-image .demo {
  opacity: 0.7;
}

.detail .detail-image .active,
.detail .detail-image .demo:hover {
  opacity: 1;
}

.detail .detail-info {
  padding-right: 40px;
  position: relative;
}

.detail .detail-info .info-name h3 {
  font-size: 32px;
  font-weight: bold;
  font-family: Avenir-Black;
  color: #000;
}

.detail .detail-info .info-category p,
.detail .detail-info .info-price p {
  font-weight: 600;
  font-family: Avenir-Black;
  color: #000;
  font-size: 18px;
  margin: 6px 0;
}

.detail .detail-info .info-des p {
  font-size: 13px;
  font-weight: 400;
  color: #979797;
  margin: 6px 0;
  text-align: justify;
}

.detail .detail-info .info-size {
  margin: 10px 0 30px 0;
}

.detail .detail-info .info-size p {
  color: #000;
  padding: 10px 0;
}

.detail .detail-info .info-size .guide {
  color: #6d6d6d;
  text-decoration: underline;
}

.form-select:focus {
  border: 1px solid #ccc;
  outline: none;
  box-shadow: none;
}

.detail .detail-info .info-size select {
  font-size: 15px;
}

.info-quantity {
  margin: 10px 0 25px 0;
}

.info-quantity p {
  color: #000;
}

.info-quantity input[type="number"],
.cart-list input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.info-quantity input[type=number]::-webkit-inner-spin-button,
.info-quantity input[type=number]::-webkit-outer-spin-button,
.cart-list input[type=number]::-webkit-inner-spin-button,
.cart-list input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.info-quantity .number-input,
.cart-list .number-input {
  border: 1px solid #ddd;
  display: inline-flex;
  margin-left: 20px;
}

.info-quantity .number-input,
.info-quantity .number-input *,
.cart-list .number-input,
.cart-list .number-input * {
  box-sizing: border-box;
}

.info-quantity .number-input a,
.cart-list .number-input button {
  outline:none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 0;
  position: relative;
  padding: 10px;
  color: #b1aeae;
}

.info-quantity .number-input button.plus:after,
.cart-list .number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.info-quantity .number-input input[type=number],
.cart-list .number-input input[type=number] {
  max-width: 50px;
  height: 40px;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  color: #000;
  border: solid #ddd;
  border-width: 0 2px;
}

.detail .detail-info .info-add {
  margin: 30px 0;
}

.detail .detail-info .info-add .wish {
  color: #000;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #000;
}

.bag,
.bag:hover {
  color: #fff;
  background-color: #000;
  padding: 10px;
}

#sortProducts select {
  background-image: none;
  padding: 10px;
}

.profiles .sidebar {
  background: #232323;
  height: 500px;
  margin-top: 10px;
}

.profiles .sidebar a {
  color: #fff;
  display: inline-block;
  padding: 15px 20px;
  margin: unset;
}

.profiles .sidebar a:hover,
.sidebar .nav-link.active {
  color: #fff !important;
  background: #222d32;
  border-left: 4px solid #3c8dbc !important;
}

.profiles .sidebar a i,
.profiles .sidebar a svg {
  margin-right: 8px;
  display: inline;
}

.profiles .sidebar hr {
  height: 1px;
  color: #fff;
  opacity: unset;
  margin: 10px 15px;
}

.profiles .name {
  font-weight: bold;
  color: #000;
}

.profiles .accordion-button:not(.collapsed) {
  background-color: transparent;
  color: #000;
  box-shadow: none;
}

.profiles .accordion-button,
.profiles .accordion-body {
  padding-left: 0 !important;
  padding: 0;
}


.cart-list .provisional {
  background: #e7e7e7;
  height: 200px;
  padding: 20px;
  color: #000;
  font-weight: bold;
}

.cart-list .provisional .total {
  color: #000;
  font-weight: 300;
}

.cart-list .remove-item {
  background-color: transparent;
  color: #000;
  margin: 15px;
}

.cart-list .remove-item:hover {
  background-color: transparent;
  color: #000;
}

.navbar-static-top {
  width: 85%;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
    font-family: 'FontAwesome';
}

.modal-dialog-scrollable .modal-content {
  padding: 20px;
}

/* Product List */
.toolbar-sorter label {
  font-weight: unset;
}
.page-link {
  margin: 0 8px;
  padding: 10px 20px;
  border-radius: 6px;
}

.disabled {
  pointer-events: none;
  opacity: 0.7;
}

.single-product.disabled .product-image .button {
  left: 50%;
  bottom: 30%;
  opacity: 1;
  visibility: visible;
}
.modal-backdrop.show,
.offcanvas-backdrop.show {
  display: none !important;
}    
.category-zoom-selector__button {
  column-gap: 2px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 0.1fr);
  row-gap: 2px;
  border: none;
  background-color: transparent;
  margin-left: 20px;
}
.category-zoom-selector__icon {
  border: 1px solid #000;
}
.category-zoom-selector__icon {
  box-sizing: border-box;
  height: 8px;
  width: 8px;
}
.filters__button {
  border: 0.5px solid #000;
  cursor: pointer;
  padding: 4px 12px;
  text-transform: uppercase;
  appearance: none;
  background: none;
}
.grid1 .single-product {
  height: 504px;
}
.grid1 .single-product .product-image img {
  height: 400px;
}
.grid1 .single-product .product-info {
  padding: 14px;
}
.grid1 .single-product .product-info .category,
.grid1 .single-product .product-info .title a,
.grid1 .single-product .product-info .review li i,
.grid1 .single-product .product-info .price span {
  font-size: 10px;
}
.grid1 .single-product .product-info .title a,
.grid1 .single-product .product-info .price span {
  font-size: 14px;
}
.grid1 .grid1 .single-product .product-info,
.grid1 .single-product .product-info .review,
.grid1 .single-product .product-info .price,
.grid1 .single-product .product-info .title a {
  margin: 0;
}
.grid2 .single-product {
  height: 300px;
}
.grid2 .single-product .product-image img {
  height: 300px;
}
.grid2 .single-product .product-info {
  display: none;
}
.zds-accordion-item__trigger {
  text-align: left;
}
.zds-accordion-item__trigger {
  background: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
  padding: 8px 0;
  align-items: center;
  appearance: none;
  display: flex;
  width: 100%;
}
.zds-accordion-item__title-text {
  color: #000;
  display: inline-block;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}
.filters-panel__filter-name--highlight {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
}
.zds-accordion-item__panel {
  opacity: 1;
  visibility: visible;
  padding-top: 6px;
  padding-bottom: 6px;
}
.filters-panel-group-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.filters-panel-group-item__value {
  padding: 8px 0;
  width: calc(50% - 8px);
}
.form-input-checkbox {
  cursor: pointer;
}
.filters-panel-group-item__value .form-input-checkbox__input-wrapper {
  display: none;
}
.filters-panel-group-item__value .form-input-checkbox__label {
  align-items: center;
  display: flex;
  overflow: hidden;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
}
.filters-panel-group-item__item-box {
  height: 12px;
  min-width: 12px;
  width: 12px;
  border: 1px solid #ccc;
  display: inline-block;
}
.filters-panel-group-item__text {
  margin-left: 12px;
}
.filters-panel-group-item__value--checked .form-input-checkbox__label {
  font-weight: 600;
}
.filters-panel-group-item__value--checked .filters-panel-group-item__item-box {
  border: 1px solid #000;
}
.multi-size-selector .form__column {
  margin-right: 10px;
  margin-bottom: 10px;
}
.multi-size-selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}
.multi-size-selector--4-columns .form__column {
  width: calc(25% - 10px);
}
.form-input {
  color: #000;
  /* display: flex; */
}
.form-input__wrapper {
  width: 100%;
}
.multi-size-selector__size {
  border: 0.5px solid #ccc;
}    
.multi-size-selector__size--is-checked {
  border: 1.5px solid #000;
}
.multi-size-selector__size .form-input-checkbox__input-wrapper {
  display: none;
}
.multi-size-selector__size .form-input-checkbox__label {
  padding-bottom: 4px;
  padding-top: 4px;
}
.multi-size-selector__size .form-input-checkbox {
  align-items: center;
  justify-content: center;
}
.form-input-checkbox {
  display: flex;
  align-items: center;
  gap: 2px;
  margin: 0;
}
.multi-size-selector__size .form-input-checkbox__label {
  padding: 7px; 
  color: #434343;
  font-weight: 400;
}
.checkbox-type {
  display: inline-block !important;
  border: 1px solid #000;
  width: 12px;
  height: 12px;
  margin-right: 12px;
}
.checkbox-type input {
  display: none;
}
.filters-panel-group-item__value--checked .checkbox-type {
  background-color: #000;
}
.double-range-slider__labels {
  margin-bottom: 10px;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  color: #000;
}
.double-range-slider__slider {
  position: relative;
  width: 100%;
}
.double-range-slider__bar {
  height: 1px;
  background: #000;
}
.double-range-slider__knob {
  background: #000;
  border-radius: 50%;
  transform: translateY(-50%);
}
.double-range-slider__knob {
  height: 8px;
  position: absolute;
  top: 50%;
  width: 8px;
}
.double-range-slider__knob {
  background: #000;
  border-radius: 50%;
  transform: translateY(-50%);
}
.filters-panel__buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}
.filters-panel__buttons-results {
  border: 1px solid #000;
  padding: 8px 12px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  background-color: transparent;
}
.filters-panel__buttons-clear {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  background-color: transparent;
  border: none;
}

.product-item__sale {
  position: absolute;
  top: 10px;
  left: -4px;
  font-size: 12px;
  color: #f73232;
  background-color: currentColor;
  font-weight: 500;
  line-height: 1.6rem;
  padding-right: 6px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.product-item__sale span {
  color: #fff;
  padding-left: 4px;
}
.product-item__sale::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  border-top: 3px solid currentColor;
  border-left: 3px solid transparent;
  filter: brightness(60%);
}
.product-item__favorite {
  position: absolute;
  top: 8px;
  right: 12px;
  text-align: center;
}
.product-item__favorite:hover .product-item__favorite-item {
  /* display: none; */
  cursor: pointer;
}
.product-item__favorite-item,
.product-item__favorite-item-fill {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}
.product-item__favorite-item-fill {
  color: #f73232;
  /* display: none; */
}

.product-item__favorite:hover .product-item__favorite-item-fill {
  display: inline-block;
}

.grid2 .product-item__sale {
  display: none;
}
.filters-panel-group-item .inner-sub-category {
  padding-left: 25px;
}
.filters-panel-group-item .inner-sub-category li {
  padding: 8px 0;
}
.filters-panel-group-item .inner-sub-category li a {
  display: flex;
  align-items: center;
}
.filters-panel-group-item .inner-sub-category li a span {
  margin-left: 12px;
  color: #000;
}
.form-input__wrapper .form-input-checkbox {
  width: 300px;
}
.zds-accordion-item__icon-child-category {
  flex-grow: 2;
  display: flex;
  justify-content: end;
}
.detail-image .container {
  position: relative;
  overflow: hidden;
}