.register-success {
  height: 40vh;
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.register-success .success-content i {
  font-size: 30px;
  margin-bottom: 20px;
  color: var(--cls-primary);
  height: 80px;
  width: 80px;
  line-height: 80px;
  text-align: center;
  display: inline-block;
  border: 1px solid #eee;
  border-radius: 50%;
}

.register-success .success-content h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #081828;
}

.error-area-404 {
  height: 40vh;
  text-align: center;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  position: relative;
  background-image: url(../images/error/404-bg.png);
  background-repeat: no-repeat;
  background-position: center;
}

.list {}

.remove-item {
  color: #fff;
  background-color: #f44336;
  font-size: 12px;
  height: 25px;
  width: 25px;
  line-height: 25px;
  border-radius: 50%;
  text-align: center;
  margin-right: 5px;
}

.remove-item:hover {
  color: #fff;
  background-color: #081828;
}

.view-item {
  color: #fff;
  background-color: #3872b2;
  font-size: 12px;
  height: 25px;
  width: 25px;
  line-height: 25px;
  border-radius: 50%;
  text-align: center;
  margin-right: 4px;
}

.view-item:hover {
  color: #fff;
  background-color: #081828;
}

.edit-item {
  color: #fff;
  background-color: #15d004;
  font-size: 12px;
  height: 25px;
  width: 25px;
  line-height: 25px;
  border-radius: 50%;
  text-align: center;
  margin-right: 4px;
}

.edit-item:hover {
  color: #fff;
  background-color: #081828;
}

.add-item {
  color: #fff;
  background-color: #034ad7;
  font-size: 12px;
  height: 30px;
  width: 80px;
  line-height: 30px;
  border: 1px solid #034ad7;
  text-align: center;
}

.add-item:hover {
  color: #fff;
  background-color: #081828;
}

.modal-search .modal-content {
  justify-content: center;
  width: 90vw;
  height: 90vh;
  top: 5vh;
  left: 5vw;
}

.required {
  color: #f44336;
}


.addressDefault {
  display: none;
}

/* Them */

label {
  display: inline-block;
  color: #000;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.form-group {
  margin-bottom: 15px;
}

.error-feedback {
  color: red;
}


/* product */
.product-list .single-product {
  position: relative;
  padding: 0;
  min-height: unset;
  height: 598px;
}

.product-list .single-product a:hover {
  text-decoration: none;
}

.single-product .image-product {
  position: relative;
  overflow: hidden;
}

.single-product .image-product .front-image {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 135%;
}

.single-product .image-product .overlay-product .image {
  width: 100%;
  height: 100%;
  object-fit: cover
}

.single-product .image-product .overlay-product {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.5s ease;
}

.single-product .image-product .favorite-product {
  position: absolute;
  top: 0;
  right: 0;
}

.single-product .image-product .favorite-product {
  position: absolute;
  top: 10px;
  right: 10px;
}

.single-product .image-product .favorite-product svg {
  overflow: visible;
}

.single-product .image-product .favorite-product .favorite-remove {
  display: none;
}

.single-product:hover .overlay-product {
  opacity: 1;
}

.single-product .card-title {
  margin-bottom: 0;
}

.single-product .card-text {
  font-size: 18inner-sub-categorypx;
  color: #626262;
}


.detail .detail-image .mySlides img {
  width: 100%;
}

.detail .detail-image img {
  cursor: pointer;
}

.detail .detail-image .left-image {
  width: 105px;
  margin-bottom: 15px;
}

/* Add a transparency effect for thumnbail images */
.detail .detail-image .demo {
  opacity: 0.7;
}

.detail .detail-image .active,
.detail .detail-image .demo:hover {
  opacity: 1;
}

.detail .detail-info {
  /* padding-right: 40px; */
  position: relative;
}


.detail .detail-info .info-name h3 {
  font-size: 24px;
  font-weight: 500;
  color: #232323;
  margin: 0;
}

.detail .detail-info .info-price span {
  font-weight: 600;
  color: #000;
  font-size: 28px;
}

.detail .detail-info .info-category p {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 26px;
  color: #000;
}

.detail .detail-info .info-price {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}

.detail .detail-info .info-des p {
  font-size: 13px;
  font-weight: 400;
  color: #979797;
  margin: 6px 0;
  text-align: justify;
}

.detail .detail-info .info-size {
  margin: 10px 0 30px 0;
}

.detail .detail-info .info-size p {
  color: #000;
  padding: 10px 0;
}

.detail .detail-info .info-size .guide {
  color: #6d6d6d;
  text-decoration: underline;
}

.detail .detail-info .info-color {
  margin-top: 12px;
}

.form-select:focus {
  border: 1px solid #ccc;
  outline: none;
  box-shadow: none;
}

.detail .detail-info .info-size select {
  font-size: 15px;
}

.info-quantity {
  margin: 10px 0 25px 0;
}

.info-quantity p {
  color: #000;
}

.info-quantity input[type="number"],
.cart-list input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.info-quantity input[type=number]::-webkit-inner-spin-button,
.info-quantity input[type=number]::-webkit-outer-spin-button,
.cart-list input[type=number]::-webkit-inner-spin-button,
.cart-list input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.info-quantity .number-input,
.cart-list .number-input {
  border: 1px solid #ddd;
  display: inline-flex;
  margin-left: 20px;
}

.info-quantity .number-input,
.info-quantity .number-input *,
.cart-list .number-input,
.cart-list .number-input * {
  box-sizing: border-box;
}

.info-quantity .number-input a,
.cart-list .number-input button {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 0;
  position: relative;
  padding: 10px;
  color: #b1aeae;
  background-color: #f5f5f5;
}

.info-quantity .number-input button.plus:after,
.cart-list .number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.info-quantity .number-input input[type=number],
.cart-list .number-input input[type=number] {
  max-width: 50px;
  height: 40px;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  color: #000;
  border: solid #ddd;
  border-width: 0 1px;
}

.detail .detail-info .info-add {
  margin: 30px 0;
}

#sortProducts select {
  background-image: none;
  padding: 10px;
}

.profiles {
  margin: 0 200px !important;
}

.profiles .sidebar {
  background: var(--cls-primary);
  height: 400px;
  margin: 20px 40px 30px 0;
  width: 240px;
}

.profiles .navbar {
  border: none;
}

.profiles .sidebar a {
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  margin: unset;
  margin-bottom: 4px;
  cursor: pointer;
  text-decoration: none;
}

.profiles .sidebar a:hover,
.sidebar .nav-link.active {
  color: #fff !important;
  background: #3872b2;
  position: relative;
}

.sidebar .nav-link.active::before {
  content: "";
  position: absolute;
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
  border-left: 8px solid #3872b2;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.profiles .sidebar a i,
.profiles .sidebar a img {
  margin-right: 16px;
  display: inline;
  width: 20px;
  height: 20px;
  font-size: 18px;
}


.profiles .profile-info h3 {
  font-weight: bold;
}

.profiles .profile-info,
.profiles .purchases {
  width: 800px;
}

.profiles .profile-info h4 {
  color: #383838;
  font-weight: 500;
}

.profiles .profile-info p {
  color: #5d5d5d;
}

.profiles .profile-info p {
  margin: 4px 0;
}

.profiles .profile-info .rating span {
  display: inline-block;
  width: 100px;
  height: 30px;
  color: #000;
  background-color: #f1cc25;
  padding: 3px 10px;
  border-radius: 16px;
  font-weight: 600;
  text-align: center;
}

.profiles .profile-item {
  margin-bottom: 30px;
}

.profiles .profile-item a {
  cursor: pointer;
  text-decoration: none;
}

.profiles .profile-item .name {
  font-weight: bold;
  color: #000;
  margin-top: 6px;
}

.profiles .accordion-button:not(.collapsed) {
  background-color: transparent;
  color: #000;
  box-shadow: none;
}

.profiles .accordion-button,
.profiles .accordion-body {
  padding-left: 0 !important;
  padding: 0;
}

.profiles .purchases .btn:hover {
  color: #3872b2;
  background-color: #fff;
  border: 1px solid #000;
}

.profiles .profile-info .profile-edit {
  color: #3872b2;
}

.profiles .profile-info .button .btn {
  font-weight: 400;
  padding: 4px 10px;
  text-transform: none;
  border-radius: 0;
  color: #fff;
  background-color: #202833;
  margin-top: 6px;
}

.cart-list .provisional {
  background: #efefef;
  height: 280px;
  padding: 20px;
  color: #000;
  font-weight: bold;
}

.cart-list .provisional .total {
  color: #000;
  font-weight: 300;
}

.cart-list .remove-item {
  background-color: transparent;
  color: #000;
  margin: 15px;
}

.cart-list .remove-item:hover {
  background-color: transparent;
  color: #000;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
  font-family: 'FontAwesome';
}

.wrapper .modal {
  background: rgba(0, 0, 0, 0.6) !important;
}

.modal-dialog {
  max-width: 800px !important;
  width: 800px !important;
  margin-top: 50px !important;
}

.modal-dialog-scrollable .modal-content {
  padding: 0 12px 12px;
  background-color: #fff;
  border-radius: 5px;
}

.modal-header {
  padding: 12px 0 16px 16px !important;
} 
.modal-header h4 {
  color: #000 !important;
  font-size: 22px;
  font-weight: 600 !important;
}

.modal-dialog-scrollable .modal-body {
  background-color: #fff;
  scrollbar-width: none;
}

.modal-dialog-scrollable .modal-body::-webkit-scrollbar {
  width: 0; 
}

.modal-dialog-scrollable .modal-body label {
  margin-bottom: 2px;
}

.modal-dialog-scrollable .modal-body input[type="text"],
.modal-dialog-scrollable .modal-body input[type="password"],
.modal-dialog-scrollable .modal-body input[type="number"],
.modal-dialog-scrollable .modal-body input[type="textarea"] {
  padding: 0 12px;
  height: 30px;
}

.modal-dialog-scrollable .modal-body .form-group {
  margin-bottom: 10px;
}

.modal-dialog-scrollable .modal-body .form-group:last-child {
  /* margin-top: 15px; */
}

.modal.address .modal-dialog-scrollable .modal-content {
 height: 600px;
}


.modal-dialog-scrollable {
  height: 600px !important;
  max-height: 600px !important;
}

/* Product List */
.toolbar-sorter label {
  font-weight: unset;
}

.page-link {
  margin: 0 8px;
  padding: 10px 20px;
  border-radius: 6px;
}

.disabled {
  pointer-events: none;
  opacity: 0.7;
}

.single-product.disabled .product-image .button {
  left: 50%;
  bottom: 30%;
  opacity: 1;
  visibility: visible;
}

.modal-backdrop.show,
.offcanvas-backdrop.show {
  display: none !important;
}

.category-zoom-selector__button {
  column-gap: 2px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 0.1fr);
  row-gap: 2px;
  border: none;
  background-color: transparent;
  margin-left: 20px;
}

.category-zoom-selector__icon {
  border: 1px solid #000;
}

.category-zoom-selector__icon {
  box-sizing: border-box;
  height: 8px;
  width: 8px;
}

.filters__button {
  border: 0.5px solid #000;
  cursor: pointer;
  padding: 4px 12px;
  text-transform: uppercase;
  appearance: none;
  background: none;
}

.grid1 .single-product {
  height: 474px;
}

.grid1 .single-product .product-image img {
  height: 360px;
}

.grid1 .single-product .product-info {
  padding: 14px;
}
.grid1 .single-product .product-info .title {
  margin: 4px 0 0;
}

.grid1 .single-product .product-info .category,
.grid1 .single-product .product-info .title a,
.grid1 .single-product .product-info .review li i,
.grid1 .single-product .product-info .price span {
  font-size: 10px;
}

.grid1 .single-product .product-info .title a,
.grid1 .single-product .product-info .price span {
  font-size: 14px;
}

.grid1 .grid1 .single-product .product-info,
.grid1 .single-product .product-info .review,
.grid1 .single-product .product-info .price,
.grid1 .single-product .product-info .title a {
  margin: 0;
}

.grid2 .single-product {
  height: 302px;
}

.grid2 .single-product .product-image img {
  height: 300px;
}

.grid2 .single-product .product-info {
  display: none;
}

.zds-accordion-item__trigger {
  text-align: left;
}

.zds-accordion-item__trigger {
  background: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
  padding: 8px 0;
  align-items: center;
  appearance: none;
  display: flex;
  width: 100%;
}

.zds-accordion-item__title-text {
  color: #000;
  display: inline-block;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.filters-panel__filter-name--highlight {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
}

.zds-accordion-item__panel {
  opacity: 1;
  visibility: visible;
  padding-top: 6px;
  padding-bottom: 6px;
}

.filters-panel-group-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.filters-panel-group-item__value {
  padding: 8px 0;
  width: calc(50% - 8px);
}

.form-input-checkbox {
  cursor: pointer;
}

.filters-panel-group-item__value .form-input-checkbox__input-wrapper {
  display: none;
}

.filters-panel-group-item__value .form-input-checkbox__label {
  align-items: center;
  display: flex;
  overflow: hidden;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
}

.filters-panel-group-item__item-box {
  height: 12px;
  min-width: 12px;
  width: 12px;
  border: 1px solid #ccc;
  display: inline-block;
}

.filters-panel-group-item__text {
  margin-left: 12px;
}

.filters-panel-group-item__value--checked .form-input-checkbox__label {
  font-weight: 600;
}

.filters-panel-group-item__value--checked .filters-panel-group-item__item-box {
  border: 1px solid #000;
}

.multi-size-selector .form__column {
  margin-right: 10px;
  margin-bottom: 10px;
}

.multi-size-selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.multi-size-selector--4-columns .form__column {
  width: calc(25% - 10px);
}

.form-input {
  color: #000;
  /* display: flex; */
}

.form-input__wrapper {
  width: 100%;
}

.multi-size-selector__size {
  border: 0.5px solid #dbd6d6;
}

.multi-size-selector__size.multi-size-selector__size--out-stock,
.cart-list .info-size_change .option-item--out-stock {
  position: relative;
}

.multi-size-selector__size.multi-size-selector__size--out-stock::after,
.cart-list .info-size_change .option-item--out-stock::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/images/icon/slash.svg');
}
.multi-size-selector__size.multi-size-selector__size--out-stock .form-input-checkbox__label,
.cart-list .info-size_change .option-item.option-item--out-stock {
  color: #dbd6d6;
}

.multi-size-selector__size--is-checked {
  border: 1.5px solid #000;
  background-color: #000;
}

.multi-size-selector__size--is-checked .form-input-checkbox__label {
  color: #fff !important;
}

.multi-size-selector__size .form-input-checkbox__input-wrapper {
  display: none;
}

.multi-size-selector__size .form-input-checkbox__label {
  padding-bottom: 4px;
  padding-top: 4px;
}

.multi-size-selector__size .form-input-checkbox {
  align-items: center;
  justify-content: center;
}

.form-input-checkbox {
  display: flex;
  align-items: center;
  gap: 2px;
  margin: 0;
}

.multi-size-selector__size .form-input-checkbox__label {
  padding: 7px;
  color: #434343;
  font-weight: 400;
}

.checkbox-type {
  display: inline-block !important;
  border: 1px solid #000;
  width: 12px;
  height: 12px;
  margin-right: 12px;
}

.checkbox-type input {
  display: none;
}

.filters-panel-group-item__value--checked .checkbox-type {
  background-color: #000;
}

.double-range-slider__labels {
  margin-bottom: 10px;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  color: #000;
}

.double-range-slider__slider {
  position: relative;
  width: 100%;
}

.double-range-slider__bar {
  height: 1px;
  background: #000;
}

.double-range-slider__knob {
  background: #000;
  border-radius: 50%;
  transform: translateY(-50%);
}

.double-range-slider__knob {
  height: 8px;
  position: absolute;
  top: 50%;
  width: 8px;
}

.double-range-slider__knob {
  background: #000;
  border-radius: 50%;
  transform: translateY(-50%);
}

.filters-panel__buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.filters-panel__buttons-results {
  border: 1px solid #000;
  padding: 8px 12px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  background-color: transparent;
}

.filters-panel__buttons-clear {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  background-color: transparent;
  border: none;
}

.product-item__sale {
  position: absolute;
  top: 10px;
  left: -4px;
  font-size: 12px;
  color: #f73232;
  background-color: currentColor;
  font-weight: 500;
  line-height: 1.6rem;
  padding-right: 6px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.product-item__sale span {
  color: #fff;
  padding-left: 4px;
}

.product-item__sale::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  border-top: 3px solid currentColor;
  border-left: 3px solid transparent;
  filter: brightness(60%);
}

.product-item__favorite {
  position: absolute;
  top: 8px;
  right: 12px;
  text-align: center;
}

.product-item__favorite:hover .product-item__favorite-item {
  /* display: none; */
  cursor: pointer;
}

.product-item__favorite-item,
.product-item__favorite-item-fill {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.product-item__favorite-item-fill {
  color: #f73232;
  /* display: none; */
}

.product-item__favorite:hover .product-item__favorite-item-fill {
  display: inline-block;
}

.grid2 .product-item__sale {
  display: none;
}

.filters-panel-group-item .inner-sub-category {
  padding-left: 25px;
}

.filters-panel-group-item .inner-sub-category li {
  padding: 8px 0;
}

.filters-panel-group-item .inner-sub-category li a {
  display: flex;
  align-items: center;
}

.filters-panel-group-item .inner-sub-category li a span {
  margin-left: 12px;
  color: #000;
}

.form-input__wrapper .form-input-checkbox {
  width: 300px;
}

.zds-accordion-item__icon-child-category {
  flex-grow: 2;
  display: flex;
  justify-content: end;
}

.detail-image .detail-image_container {
  position: relative;
  overflow: hidden;
}

.header .navbar-icon .language {
  position: relative;
}

.language-popover-inner {
  border: 1px solid #000;
  background-color: #fff;
  background-clip: padding-box;
  position: absolute;
  top: 39px;
  right: 0;
  z-index: 10;
  display: none;
}

.language-popover-inner .language-popover-inner-content {
  padding: 10px;
}

.language-currency-content {
  width: 205px;
  padding: 0 10px 10px;
}

.language-currency-content .currency-content-item {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 4px;
}

.language-currency-content .currency-content-item .currency-content-title {
  color: #000;
  font-weight: 900;
  padding: 8px 0 12px;
}

.language-select-small {
  padding: 8px 16px 8px 10px;
}

.language-select-small {
  font-size: 12px;
  line-height: 16px;
  min-height: 32px;
}

.language-select {
  position: relative;
  word-wrap: break-word;
  white-space: normal;
  outline: 0;
  font-size: 16px;
  line-height: 18px;
  min-width: 120px;
  min-height: 50px;
  background: #fafafa;
  display: inline-block;
  padding: 15px 10px;
  font-family: Avenir-Roman;
  font-weight: 400;
  color: #000;
  box-shadow: none;
  border: 1px solid transparent;
  transition: all .1s ease;
  cursor: pointer;
}

.language-select .icon-dropdown {
  right: 0;
}

.language-select .icon-dropdown-small {
  padding: 10px;
}

.language-select .icon-dropdown {
  position: absolute;
  width: auto;
  height: auto;
  line-height: 12px;
  padding: 16px;
  z-index: 3;
  opacity: .8;
  transition: opacity .3s linear;
  top: 0;
  display: inline-block;
  transition: transform .3s;
}

.language-currency-content .currency-content-button {
  margin-top: 12px;
}

.language-button.is-bold {
  font-family: Avenir-Black;
  font-weight: 900;
}

.language-button.button-mini {
  min-width: 89px;
  height: 32px;
}

.language-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  line-height: 1.2;
  font-size: 14px;
  text-align: center;
  color: #fff;
  padding: 0 20px;
  background: #000;
  transition: all .3s cubic-bezier(.8, .5, .2, 1.4);
  white-space: nowrap;
  font-family: Avenir-Roman;
  font-weight: 400;
}

.language-currency-content .currency-content-items {
  display: flex;
  align-items: center;
  height: 16px;
  position: absolute;
  top: 9px;
}

.language-currency-content .currency-content-items .language-image {
  margin-right: 10px;
}

.language-select .menu {
  left: 0;
  text-align: left;
}

.language-select .language-select-menu_list {
  min-width: calc(100% + 2px);
  width: calc(100% + 2px);
}

.language-select .menu {
  position: absolute;
  top: 100%;
  padding: 0;
  background: #fff;
  font-size: 1em;
  text-shadow: none;
  margin: 0 -1px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: auto;
  outline: 0;
  border-top: none;
  min-width: calc(100% + 2px);
  width: calc(100% + 2px);
  z-index: 1000;
}

.language-select .language-select-option-content {
  max-height: 285px;
  overflow: auto;
}

language-select .language-select-menu_item {
  padding: 0 8px 0 16px;
}

.language-select .language-select-option-content .language-select-content-small {
  font-size: 12px;
  line-height: 16px;
  padding: 8px 20px;
  height: 32px;
}

.language-select .language-select-menu_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  cursor: pointer;
}

.language-select .language-select-content-active {
  font-weight: 700;
}

language-select .language-select-menu_item {
  padding: 0 8px 0 16px;
}

.language-select .language-select-option-content .language-select-content-small {
  font-size: 12px;
  line-height: 16px;
  padding: 8px 20px;
  height: 32px;
}

.language-select .language-select-menu_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  cursor: pointer;
}

.language-select .language-select-content-active {
  font-weight: 700;
}

.rotated {
  transform: rotate(180deg);
}

.topbar-main::after {
  position: absolute;
  content: "";
  top: 6px;
  left: 50%;
  background-color: #fff;
  height: 25px;
  width: 1px;
}

.topbar-main .top-left,
.topbar-main .top-middle {
  text-align: center;
  margin: 0 auto;
}

.topbar-main .top-left .hotline-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 235px;
}

.topbar-main .top-left .hotline-item {
  position: relative;
}

.topbar-main .top-left .hotline-item .hotline-item-content,
.top-middle .banner-text {
  display: inline-block;
  font-weight: 800;
  font-size: 16px;
  color: #352d8a;
  padding: 6px;
}

.header .topbar .banner-list {
  position: relative;
  overflow: hidden;
  width: 500px;
}

@keyframes bannerSlide {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.header .topbar .banner-item {
  animation: bannerSlide 20s linear infinite;
}

.topbar-main .top-hotline-close {
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
}

/* Header */
/* .header-bottom .mega-category-menu {
  display: none !important;
}
@media only screen and (min-width: 1031px) and (max-width: 1240px) {
  .header .navbar-nav .nav-item {
    margin-right: 25px !important;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1031px) {
  .header .navbar-nav .nav-item {
    margin-right: 28px;
  }
  .header .header-middle {
    margin: 0;
  }
}
@media (max-width: 996px) {
  .header .navbar-nav .nav-item {
    display: none;
  }
  .header-bottom .mega-category-menu {
    display: inline-block !important;
  }
}
  
@media (max-width: 1290px) {
  .header .header-middle {
    margin: 0 !important;
  }
  .header .header-bottom {
    margin: 10px !important;
  }
  .navbar-nav .nav-item {
    margin-right: 30px !important;
  }
  .header .main-menu-search {
    width: 600px;
  }
} */

.hotline-phone-ring-circle-fill {
  width: 36px;
  height: 36px;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #fff;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
  animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.hotline-phone-ring-img-circle {
  /* background-color: #f1f1f1; */
  width: 25px;
  height: 25px;
  top: 6px;
  left: 6px;
  position: absolute;
  background-size: 20px;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
  animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hotline-phone-ring-img-circle a {
  color: #352d8a;
}

@-webkit-keyframes phonering-alo-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.8;
  }

  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.9;
  }

  100% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 1;
  }
}

@-webkit-keyframes phonering-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }

  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }

  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }

  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }

  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }

  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }

  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}

@media (max-width: 768px) {
  .hotline-bar {
    display: none;
  }
}

.topbar .top-end .top-notice-close {
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 1248px) {
  .header .header-bottom .mega-category-menu {
    display: none !important;
  }

  .header .topbar .banner-list {
    width: 350px;
  }
}

@media (max-width: 1100px) {
  .header .header-bottom .nav-social {
    display: none !important;
  }

  .header .topbar .banner-list {
    width: 300px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header .nav-inner {
    display: block !important;
    width: 100%;
  }
}

@media (max-width: 991px) {
  .header .topbar .banner-list {
    width: 240px;
  }

  .topbar-main .top-left .hotline-item .hotline-item-content,
  .top-middle .banner-text {
    font-size: 13px;
  }
}

.header-bottom .main-menu-search {
  display: none;
}

@media (max-width: 767px) {
  .header-bottom .main-menu-search {
    display: block !important;
  }
}

.header .sub-menu-search,
.header .sub-search-image {
  position: absolute;
  top: 53px;
  left: 2%;
  width: 96%;
  background-color: #fff;
  z-index: 20;
  -webkit-box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
  max-height: 350px;
  overflow-y: scroll;
  border-top: 1px solid #eee;
  border-radius: 6px;
  display: none;
}

.header .sub-menu-search .navbar-nav {
  width: 100%;
}

.header .sub-menu-search .navbar-nav .nav-item:nth-child(1) a {
  color: #959595;
}

.header .sub-menu-search .navbar-nav .nav-item:nth-child(1) a:hover {
  text-decoration: none !important;
}

.header .sub-menu-search .navbar-nav .nav-item a {
  font-size: 14px;
  font-weight: normal;
  padding: 6px;
  display: block;
}

.header .sub-menu-search .navbar-nav .nav-item .close {
  color: #656565;
  float: right;
  padding: 0 10px;
  font-size: 14px;
}

.header .sub-menu-search .nav-item {
  margin-right: 0 !important;
  padding-left: 16px;
}

.header .sub-menu-search .nav-item:not(:first-child):hover {
  background-color: #efefef;
}

.detail-info .product-item__favorite-item {
  font-size: 28px;
}

.detail-info .product-item__favorite {
  top: 0;
  right: 0;
}

.cart .info-size .size {
  font-weight: bold;
  color: #000;
  padding-bottom: 0;
}

.cart .info-size .size-available {
  color: #000;
}

.cart .info-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.cart .info-add .info-add__item {
  margin-bottom: 10px;
  width: 340px;
}

.cart .info-add .info-add__item:first-child {
  margin-top: 10px;
}

.cart .info-add .info-add__item:last-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cart .info-add .info-add__item:last-child .btn {
  flex-basis: 48%;
}

.cart .info-add .btn {
  font-size: 16px;
  width: 100%;
  text-transform: uppercase;
  border-radius: 0;
  border: none;
  background-color: #fff;
  border: 1px solid #000;
  padding: 12px;
}

.cart .info-add .bag {
  color: #fff;
  background-color: #000;
}

.cart .info-add .bag:hover {
  color: #000;
  background-color: #fff;
}

.cart .info-add .checkout,
.cart .info-add .wish  {
  color: #000;
  background-color: #fff;
}

.cart .info-add .checkout:hover {
  color: #fff;
  background-color: #000;
}

.cart .info-add .wish {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.cart .info-add .wish:hover span i {
  color: red;
}

.cart .info-add .btn span i {
  margin-right: 6px;
  font-size: 22px;
}

.filters-panel-group-item__item-box.circle {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-right: 8px;
  cursor: pointer;
}

.filters-panel-group-item__item-box.circle.active {
  position: relative;
}

.filters-panel-group-item__item-box.circle.active::before {
  position: absolute;
  content: "";
  top: -4px;
  left: -4px;
  width: 28.5px;
  height: 28.5px;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 50%;
}

.cart-list .info-size_change .info-size_change-text {
  margin-top: 10px;
  background-color: #ececec;
  width: 126px;
  border-radius: 3px;
  cursor: pointer;
  padding: 2px 6px;
  color: #000;
  font-weight: normal;
}

.cart-list .info-size_change .info-size_change-text div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-list .info-size_change .info-size_change-text button {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  background: none;
  padding: 0;
  border-top: 5px solid rgba(0, 0, 0, .54);
  border-bottom: 0;
  transition: transform .1s cubic-bezier(.4, 0, .6, 1);
  transform: rotate(0);
}

.cart-list .info-size_change .info-size_change-show {
  display: flex;
  flex-direction: column;
  padding: 22px 25px;
  width: 330px;
  max-height: 300px;
  background: #eeeeee;
  margin-top: 12px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .09);
  position: absolute;
  z-index: 10;
}

.cart-list .info-size_change .info-size_change-show::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 10px;
  top: -12px;
  border-width: 0 25px 12px;
  border-style: solid;
  border-color: transparent transparent #ececec transparent;
}

.cart-list .info-size_change .change-show_content {
  display: flex;
  flex-wrap: wrap;
}

.cart-list .info-size_change .change-show_option {
  margin-bottom: 10px;
}

.change-show_option-titile {
  text-transform: capitalize;
  color: rgba(0, 0, 0, .54);
  font-size: 15px;
  margin-bottom: 4px;
}

.cart-list .info-size_change .option-item {
  overflow: visible;
  cursor: pointer;
  min-width: 5rem;
  min-height: 2.125rem;
  box-sizing: border-box;
  padding: 0.25rem 0.75rem;
  margin: 0 8px 8px 0;
  color: rgba(0, 0, 0, .8);
  text-align: left;
  border-radius: 2px;
  border: 1px solid #dbd6d6;
  position: relative;
  background: #fff;
  outline: 0;
  word-break: break-word;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.cart-list .info-size_change .option-item--selected {
  border: 1px solid var(--cls-primary);
}

.cart-list .info-size_change .option-item__tick {
  width: 22px;
  height: 22px;
  position: absolute;
  overflow: hidden;
  right: 0;
  bottom: 0;
}

.cart-list .info-size_change .change-show_button {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.cart-list .info-size_change .cancel-btn {
  padding: 10px 0;
  box-sizing: border-box;
  width: 120px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
  color: #555;
  margin-right: 6px;
  line-height: 1;
  background: none;
  border: 0;
  transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
}

.cart-list .info-size_change .change-show_button>.button-solid {
  width: 120px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 0;
  cursor: pointer;
  position: relative;
  overflow: visible;
  outline: 0;
  background: #fff;
}

.cart-list .info-size_change .change-show_button>.button-solid:hover {
  background-color: #000;
  color: #fff;
}

.cart-list .info-size_change .option-item__tick>.icon-tick-bold {
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 1px;
  bottom: 3px;
  color: #fff;
  font-size: 8px;
  fill: currentColor;
}

.cart-list .info-size_change .option-item__tick:before {
  border: 22px solid transparent;
  border-bottom: 22px solid #3872b2;
  content: "";
  position: absolute;
  right: -22px;
  bottom: 0;
}


.brd {
  border: 1px solid #e2eded;
  border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

.aselect {
  width: 100%;
  position: relative;
}

.aselect .selector {
  border: 1px solid gainsboro;
  background: #fff;
  position: relative;
}

.aselect .selector .arrow {
  position: absolute;
  right: 12px;
  top: 40%;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 8px solid #888;
  transform: rotateZ(0deg) translateY(0px);
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(.59, 1.39, .37, 1.01);
}

.aselect .selector .arrow1 {
  position: absolute;
  right: 35px;
  top: 40%;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 8px solid #888;
  transform: rotateZ(0deg) translateY(0px);
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(.59, 1.39, .37, 1.01);
}

.aselect .plus {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(.59, 1.39, .37, 1.01);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aselect .plus:hover {
  cursor: pointer;
  background-color: #ccc;
}

.aselect .selector .expanded {
  transform: rotateZ(180deg) translateY(2px);
}

.aselect .selector .label {
  display: block;
  height: 30px;
  padding: 8px 12px;
  font-size: 14px;
  color: #666;
  text-align: left !important;
  font-weight: 400;
  cursor: pointer;
}

.aselect .selector .selector-container {
  width: 100%;
  min-height: 260px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  border: 1px solid gainsboro;
  position: absolute;
  z-index: 10;
  background: #fff;
  margin-top: 6px;
}

.aselect .selector .selector-container .selector-item {
  border-bottom: 1px solid #ccc;
  height: 40px;
  padding: 8px 24px;
}

.aselect .selector .selector-container .selector-item span {
  font-size: 14px;
  margin-right: 14px;
  color: #373737;
  cursor: pointer;
  font-weight: 500;
}

.aselect .selector .selector-container .selector-item span:hover,
.aselect .selector .selector-container .selector-item span.active {
  color: #3872b2;
  text-decoration: underline;
}

.aselect .selector ul {
  overflow-y: auto;
  height: 260px;
  max-height: 260px; 
}

.aselect .selector li {
  padding: 8px 16px;
  color: #666;
  cursor: pointer;
  font-size: 14px;
}

.aselect .selector li:hover {
  color: #fff;
  background: #3872b2;
}

.aselect .selector .selector-container .current {
  background: #eaeaea;
}

.btnEdit,
.btnAdd,
.btnAddFile,
.btnSave,
.btnDelete,
.btnBack,
.btnPrint,
.btnExcel {
    background: #ffff;
    color: #003ad2;
    border-radius: 5px !important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all .4s;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    line-height: 17px;
    height: 40px;
    min-width: 110px;
    text-transform: uppercase;
}

.btnAdd,
.btnSave,
.btnDelete,
.btnBack {
    border: 1px solid #003ad2 !important;

}

.btnAddFile,
.btnPrint,
.btnExcel {
  border: 0 !important;
  min-width: 80px;
}

.btnAddFile i,
.btnEdit i,
.btnSave i,
.btnDelete i,
.btnBack i,
.btnPrint i,
.btnExcel i {
  color: #003ad2;
  margin-right: 6px;
}


.btnAdd {
  background: #003ad2;
  border: 1px solid #003ad2;
  color: #fff;
}
.btnAdd i {
  margin-right: 6px;
}
.form-control {
  border-radius: 0 !important;
}

.button.extra {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  height: 40px;
}

.button.extra .btn {
  background: #000;
  padding: 10px 30px;
  border-radius: 0;
}


.form-group .form-group__container {
  display: flex;
  justify-content: space-evenly;
}

.form-group .form-group__container2 {
  width: 90%;
  margin: 0 auto;
}

.form-group .form-group__container .form-group__label {
  width: 25%;
  line-height: 30px;
}

.form-group .form-group__container .form-group__input {
  width: 59%;
}

.form-group .form-group__container .form-group__input2 {
  width: 42%;
}

.form-group .form-group__container .form-group__input .input-group .form-control {
  width: unset;
  border-right: none;
}

.form-group .form-group__container .form-group__input button {
  background-color: transparent;
  color: #575757;
}

.form-group .form-group__container .form-group__input .input-group {
  display: flex;
}

.form-group .form-group__container .form-group__input input[type="date"] {
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}



.liveAlert {
  margin-top: 20px;
}

.border-end {
  border-right: 1px solid #4f4f4f66 !important;
}



.acc-name {
  border-right: 1px solid #a4a4a4;
  padding-right: 8px;
  margin-right: 8px;
  font-size: 16px;
  font-weight: bold;
}

hr {
  height: 0.5px !important;
  background: #000;
  margin: 10px 0 !important;
  border: none !important;
  line-height: 0 !important;
}

.profiles .navbar hr {
  background: #fff;
}


.purchase-container {
  background-color: #fffdfd;
  box-shadow: 0 0 10px #00000012;
  padding: 16px 24px;
  margin-bottom: 20px;
  border: 1px solid #dee2e6;
  border-top: none;
}

.purchase-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.purchase-item {
  flex-basis: 100%;
  display: flex;
  height: 110px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ebebeb;
}

.purchase-item:nth-last-child(1) {
  border-bottom: none;
  margin-bottom: -1px;
  padding-bottom: 0;
}

.purchase-item .purchase-info {
  width: 75%;
}

.purchase-item img {
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 90px;
}

.purchase-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.purchase-head .purchase-id {
  font-size: 18px;
}

.purchase-head .purchase-status {
  display: flex;
  justify-content: end;
}

.purchase-head .purchase-status span {
  padding: 0 10px ;
}

.purchase-head .purchase-status span:nth-child(1) {
  border-right: 1px solid #ccc;
  color: #26aa99;
}

.purchase-head .purchase-status span:nth-child(2) {
  color: #ee4d2d;
  text-transform: uppercase;
}

.purchase-price {
  width: 25%;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
}

.purchase-price__item  {
  display: flex;
  justify-content: end;
  border-bottom: 1px dotted #dbdbdb;
  width: 100%;
}
.purchase-price__item p:nth-child(1) {
  flex-basis: 75%;
  text-align: right;
  border-right: 1px dotted #dbdbdb;
  padding: 10px 0;
  padding-right: 10px;
}

.purchase-price__item p:nth-child(2) {
  flex-basis: 25%;
  text-align: right;
  padding: 10px 0;
}


.purchase-btn button {
  margin: 10px 0;
  padding: 8px 30px ;
}
.purchase-btn .total-price {
  color: #0167f3 !important;
  font-size: 24px;
}

.purchase-btn .purchase-btn__item {
  display: flex;
  justify-content: end;
}

.purchase-btn .purchase-btn__item button {
  font-size: 17px;
}

.purchase-store {
  background-color: #f2fbff;
  padding: 30px 20px;
  box-shadow: 0 0 10px #00000012;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

.purchase-img {
  height: 4px;
  background-image: repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 33px, transparent 0px, transparent 41px, #f18d9b 0px, #f18d9b 74px, transparent 0px, transparent 82px);
}

.purchase-store .purchase-store__rate,
.purchase-store .purchase-store__thank {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-info .purchase-filter {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px #00000012;
  border: 1px solid #dee2e6;
}

.profile-info .purchase-filter span {
  padding: 14px 0;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  width: 100px;
  text-align: center;
}
.profile-info .purchase-filter span.active {
  color: #3872b2;
}

.profile-info .purchase-filter span.active::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3872b2;
}

.btn-light {
  border: 1px solid var(--bs-btn-hover-border-color) !important;
}

.swal2-popup.swal2-toast .swal2-title {
  font-size: 15px;
}

.sub-category .close {
  color: #fff;
  top: 30px;
  position: absolute;
  content: "";
  right: 30px;
  opacity: 1;
}

.header .mega-category-menu .sub-category img {
  position: absolute;
  content: "";
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  width: 450px;
}

.content .option-filter {
  display: flex;
  justify-content: start;
  box-shadow: 0 0 10px #00000012;
  margin-bottom: 12px;
  margin: 0 -24px 10px; 
}

.content .option-filter a {
  padding: 6px 12px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  width: auto;
  text-align: center;
  color: #1f4173;
  font-weight: 600;
  margin: 8px;
  border-radius: 4px;
  background-color: rgba(57, 97, 156, 0.313)
}
.content .option-filter a:hover,
.content .option-filter a.active {
  background-color: #003ad2;
  color: #fff;
}

.widden .modal-dialog {
  width: 1200px !important;
  max-width: 1200px !important;
}

.narrow .modal-dialog {
  width: 600px !important;
  max-width: 600px !important;
}

.offcanvas-header h5 {
  font-size: 18px;
}
.offcanvas-header,
.offcanvas-body {
  padding: 10px 25px 0;
}

.import-product .search-input {
  width: 400px;
  position: relative;
}
.product-sale {
  width: 400px;
  position: relative;
  float: left;
}
.import-product .search-input input,
.product-sale .search-input input  {
  width: 100%;
  height: 36px;
  border: none;
  border: 1px solid #b8b8b8;
  background-color: #fff;
  color: #000;
  padding: 4px 30px !important;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 14px;
  margin-bottom: 16px;
}

.import-product .search-input a:first-child,
.product-sale .search-input a:first-child  {
  position: absolute;
  content: "";
  top: 10px;
  left: 10px;
  background-color: transparent;
  border: none;
}

.import-product .search-input a:last-child,
.product-sale .search-input a:last-child  {
  position: absolute;
  content: "";
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.import-product .search-input a .bi-search,
.product-sale .search-input a .bi-search  {
  color: #414141;
  font-size: 16px;
}

.import-product .search-input a .bi-plus,
.product-sale .search-input a .bi-plus  {
  color: #414141;
  font-size: 20px;
  font-weight: 500;
}

.import-product .import-product__search {
  position: relative;
  width: 100%;
  float: left;
  margin-bottom: 6px;
  margin-left: 10px;
}

.import-product .sub-menu-search,
.product-sale .sub-menu-search,
.checkout-voucher .menu-voucher {
  position: absolute;
  top: 40px;
  left: 0;
  width: 400px;
  background-color: #fff;
  z-index: 20;
  -webkit-box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden !important;
  border-top: 1px solid #eee;
  display: none;
}

.import-product .sub-menu-search .navbar-nav,
.product-sale .sub-menu-search .navbar-nav,
.checkout-voucher .menu-voucher .navbar-nav {
  width: 100%;
  max-width: 400px;
}

.import-product .sub-menu-search .navbar-nav .nav-item,
.product-sale .sub-menu-search .navbar-nav .nav-item,
.checkout-voucher .menu-voucher .navbar-nav .nav-item {
  font-size: 14px;
  font-weight: normal;
  padding: 8px 14px;
  display: block;
  cursor: pointer;
}

table input[type=text] {
  border: none;
  width: 100%;
}

table input::-webkit-outer-spin-button,
table input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

table.dataTable tr td:first-child {
  color: #1f4173;
  font-weight: bold;
  text-decoration: underline;
}

.form-group {
  position: relative;
}
.remove-option {
    cursor: pointer;
}

.product-view_plus {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ccc;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
}

.product-view_plus i {
  font-weight: 600;
}

.product-view_plus .expanded {
  transform: rotateZ(90deg) translateY(2px);
}



#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 2001;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

@keyframes spin {
  0% {
      /* Chrome, Opera 15+, Safari 3.1+ */
      /* IE 9 */
      transform: rotate(0deg);
      /* Firefox 16+, IE 10+, Opera */
  }
  100% {
      /* Chrome, Opera 15+, Safari 3.1+ */
      /* IE 9 */
      transform: rotate(360deg);
      /* Firefox 16+, IE 10+, Opera */
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: white;
  z-index: 2000;
  /* Chrome, Opera 15+, Safari 3.1+ */
  /* IE 9 */
  transform: translateX(0);
  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}


/* Loaded */

.loaded #loader-wrapper .loader-section.section-left {
  /* Chrome, Opera 15+, Safari 3.1+ */
  /* IE 9 */
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
  /* Chrome, Opera 15+, Safari 3.1+ */
  /* IE 9 */
  transform: translateX(100%);
  /* Firefox 16+, IE 10+, Opera */
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  /* Chrome, Opera 15+, Safari 3.1+ */
  /* IE 9 */
  transform: translateY(-100%);
  /* Firefox 16+, IE 10+, Opera */
  transition: all 0.3s 1s ease-out;
}


/* JavaScript Turned Off */

.no-js #loader-wrapper {
  display: none;
}



.sale {
  color: #da4343 !important;
  font-weight: bold !important;
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.2);
}

::-webkit-scrollbar-track {
  background: #e6eaf0;
}

.statistical-range {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #f5f5f5;
  height: 70px;
  margin: -16px -24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.statistical-range span span {
  color: #003ad2;
}

.statistical-range>div>span {
  margin-right: 30px;
  font-size: 15px;
  color: #1f4173;
}

.statistical-range .picker-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statistical-range .picker-container input {
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: 0;
  height: 40px;
  width: 100%;
  font-size: 1rem;
  box-shadow: none;
  box-sizing: content-box;
  transition: all .3s;
  background-color: #fff;
  text-align: center;
  color: #00409f;
}

.statistical-range .picker-container button {
  width: 110px;
  height: 40px;
  letter-spacing: 0;
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  border: 0;
  border-radius: 5px;
  margin-left: 6px;
}

.statistical-report {
  margin-top: 25px;
}

.statistical-report .report-item {
  margin-top: 30px;
}

.statistical-report h4 {
  color: #004dc1;
}
.statistical-report .report-quantity {
  padding: 10px 0;
}

.statistical-report .report-quantity p {
  display: inline-flex;
  flex-direction: column;
}

.statistical-report .report-quantity span {
  font-size: 17px;
  margin-right: 20px;
  color: #000670bb;
  font-weight: 600;
}

.statistical-report .report-quantity p span:last-child {
  color: #1F4173;
  font-size: 19px;
  padding-top: 10px;
}
